.product-card{
    width: 320px;
    height:460px;


    &__img{
        width:100%;
        height:300px;

        img{
            width:100%;
            height:100%;
            object-fit:cover;
        }
    }

    &__detail{
        text-align: center;
        h3{
            font-size:1.4rem;
        }
        span{
            
        }
    }
}