.product-card{
    width: 300px;
    height:420px;
    


    &__img{
        width:100%;
        height:340px;
        overflow:hidden;
        position: relative;

        img{
            width:100%;
            height:100%;
            object-fit:cover;
        }
        .button{
            position: absolute;
            left: 0;
            bottom: -40px;
            transition: all 0.250s ease-in-out;
        }

        &:hover .button{
            bottom: 0px;
        } 
    }

    &__detail{
        text-align: center;
        h3{
            font-size:1.4rem;
            text-transform: capitalize;
            padding: 10px 0;
        }
        span{
            
        }
    }
}



