@mixin flexhbetween{
    display: flex;
    justify-content:space-between;
    align-items:center;
}

@mixin flex-r-center {
    display: flex;
    justify-content:center;
    align-items:center;
}
@mixin flex-c-center {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}


@mixin shadow-bottom{
    box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 2px 5px 1px rgba(0,0,0,0.4);
}

@mixin shadow-elevation-4 {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.4);  
}

@mixin shadow-elevation-8 {
    box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
}

@mixin transition-all-250ms-eino{
    transition: all 0.250s ease-in-out;
}