@import '../../scss/abstracts/mixins';

.banner{
    @include flex-c-center;
    width: 100%;
    height:380px;
    position:relative;
    color:var(--just-white);
    img{
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: cover;
        filter: brightness(0.5) contrast(0.9);
        z-index: -1;
    }
    .img-position-top-50{
        object-position: 20% 30%;
    }
    .img-position-top-25{
        object-position: 20% 15%;
    }
    .img-position-center{
        object-position: center;
    }
    h2{
        font-size:2.4rem;
        padding-top:40px;
    }

}